@media (min-width: 1024px) {
   
    .project{
        
        
    }
}


@media (max-width: 1023px) {
    .project{
        width: 200px;
        height: 200px
        
    }
    .icon{
        width: 100px;
        height: 100px;
    }

}



@media (max-width: 734px) {

    #text{
        font-size:4rem;
    }
 .project{
        width: 150px;
        height: 150px
        
    }
     .icon{
        width: 80px;
        height: 80px;
    }.icon-contact{
   font-size: 15rem;
    width: 100%;
}


@media (max-width: 599px) {
    h1#technology,
    #about,
    #contact,
    #project{
        font-size: 10rem;
    }
    
     .project{
        width: 120px;
        height: 120px
        
    } .icon{
        width: 75px;
        height: 75px;
        margin: 5px;
    }

}
    
    @media (max-width: 325px) {
          #text{
        font-size:3rem;
           }
    
     .project{
        width: 90px;
        height: 90px
        
    }
         .icon{
        width: 50px;
        height: 50px;
        margin: 5px;
    }

}